/* navbar */

.navbar-brand{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    color: #000000;
}

/* Tutup navbar */


/* booking */
.load{
    margin-top: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}

.info{
    margin-top: 50px;
}

.info h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.detail label{
    margin-left: 50px;
    text-align: right;
}

.kiri{
    margin-left: 520px;
}

.kanan{
    margin-right: 520px;
}

.pay{
    margin-top: 290px;
    margin-bottom: 150px;
}

.garis-horizontal{
    margin-top: 290px;
    width: 461px;
    height: 0px;
    border: 1px solid #D9D9D9;
    transform: rotate(90deg);
}

.left{
    margin-left: 290px;
}
.right{
    margin-right: 310px;
}

.pay h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    color: #000000;
}

.pay p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #000000;

}

.left h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.form label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.form input{
    width: 319px;
    height: 44px;
    background: #F2F2F2;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;

    color: #292929;
}

.buttn{
    margin-top: 350px;
}

.btn-success{
    width: 230px;
    height: 44px;
    background: #58ACDC;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.btn-secondary{
    width: 230px;
    height: 43px;
    background: #E9E9E9;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #222222;
    border: none;
}

/* tutup booking */

/* Footer */

.footer{
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: 100px;
}

.ring{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.footer-link{
    margin-top: 60px;
}

.footer-link a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.footer-address{
    margin-top: 60px;
}

.footer-address p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.copyright{
    height: 50px;
    background: #D9D9D9;
}

.copyright h5{
    padding-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;

}


/* Tutup Footer */

